@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body py-2">
        <form asp-action="Create" method="post" class="row" enctype="multipart/form-data">
            <div class="mb-3 row">
                <label asp-for="CategoryName" class="ms-2">Category Name</label>
                <input asp-for="CategoryName" class="form-control border-0 shadow" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="ImageUrl" class="ms-2">Image</label>
                <input type="file" name="img" class="form-control border-0 shadow" />
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-outline-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control">Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
